<div class="alert alert-success" role="alert">
  <h5 class="alert-heading"> <%= notice %></h5>
  <hr>
  <p class="mb-0"> Press the x to close</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>